<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="数据库IP" value="127.0.0.1"/>
    <add key="数据库用户名" value="csyzt"/>
    <add key="数据库密码" value="csyzt"/>
    <add key="数据库服务名" value="orcl"/>
    <add key="数据库版本" value=""/>
    <add key="数据库泵目录" value="data_mypump_dir"/>
    <add key="保留天数" value="7"/>
    <add key="额外备份目录" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
